<h1>Sign up!</h1>

<% if @user.errors.any? %>
    <ol>
        <% @user.errors.full_message.each do |msg| %>
            <li><%= msg %>
        <% end %>
    </ol>
    <% end %>

<%= form_for @user do |f| %>
<%= f.label :user_email, "email" %>
<%= f.email_field :user_email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>

<%= f.submit %>

<% end %>