<h1>Create Manager</h1>
<%= form_for(@manager, :html => {:multipart => true }) do |f| %>
<%= f.label :manager_name %>
<%= f.text_field :manager_name %>

<%= f.label :country %>
<%= f.text_field :country %>

<%= f.label :coaching_year %>
<%= f.text_field :coaching_year %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :team_name %>
 <%= f.select :team_id, Team.pluck(:team_name, :id), :include_blank => true %>

<%= f.submit %>
<% end %>
