<h1>
    <%= @manager.manager_name %>
</h1>

<%= image_tag @manager.image if @manager.image.present? %>%

<ul>
    <li>Name: <%= @manager.manager_name %></li>
    <li>country: <%= @manager.country %></li>
    <li>year: <%= @manager.coaching_year %></li>
    <li>age: <%= @manager.age %></li>
</ul>

