<h1>
    <%= @player.player_name %>
</h1>

<%= cl_image_tag @player.player_image if @player.player_image.present? %>

<ul>
    <li>Name: <%= @player.player_name %></li>
    <li>country: <%= @player.player_country %></li>
    <li>position: <%= @player.player_position %></li>
    <li>rating: <%= @player.player_rating %></li>
    <li>age: <%= @player.player_age %></li>
</ul>


    <div class="controls">
        <%= link_to "Edit Player", edit_player_path(@player), :method => 'get' %>
        <%= link_to "Delete Player", @player, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
    </div>