<!DOCTYPE html>
<html>
  <head>
    <title>Football League</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
  
  <header>
  <nav class="navbar">

<ul>
    <% if @current_user.present? %>
    
    <%# <li><a href="#"><%= link_to "Home", home_index_path</a></li>  %>

    <li><a href="#"><%= link_to "New Player", new_player_path %></a></li>

    <li><a href="#"><%= link_to "All players", players_path %></a></li>
    
    <li><a href="#"><%= link_to "New Teams", new_team_path %></a></li>
    
    <li><a href="#"><%= link_to "All Teams", teams_path %></a></li>
    
    <li><%= link_to "Log out #{ @current_user.user_email }", login_path, :method => :delete %></li>
    <% else%>
      <li><%= link_to "sign up!", new_user_path %></li>
      <li><%= link_to "sign in", login_path %></li>
    <% end%>

</ul>
</header>
  </nav>
    <%= yield %>
  </body>
</html>
